# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env

# OS
.DS_Store
Thumbs.db

# Database
features.db

# Model artifacts (optional)
model/artifacts/*.pkl

# IDE
.vscode/
.idea/
